body {
    margin: 0;
    background-color: rgb(0, 0, 0);
    font-family: "Kameron", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
        h3 {
            font-size: 2rem;
        }
}

.navbar {
    background: #000000;
    font-size: 1.5rem;
    color: #ffffff;
    padding: 1vw;
        li{
            display: inline;
            a {
                color: #ffffff;
                text-decoration: none;
                padding: 2vw 3vw;
                &:hover {
                text-decoration:#9d9d9d;
                }
            }
            .logo {
                height: 8vh;
                width: 5vh;
            }
        }
    }

.hero {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../img/main-bg.jpeg');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    color: white;
}

.main-container {
    display: flex;                 
    justify-content: space-between;  
    align-items: center;           
    gap: 20px;
    padding-bottom: 3vw;     
  }
  
  .text-content {
    flex: 1;                       
  }

  .main-me {
    width: 300px;                    
    height: auto;  
    border-radius: 10px; 
    flex-shrink: 0;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);         
  }
  
h1 {
    font-size: 3rem;
    color: #B8679D;
}

.wrapper {
    padding: 4vw 20vw 6vw;
}

.home {
    background-color: white;
    p {
        font-size: 1.5rem;
    }
}
.card-link {
    text-decoration: none;
    color: inherit;
}
.card {
    margin-left: 7vw;
    width: 75%;
    background-color:#caa5be;
    color: #000000;
    border-radius: 10px;
    text-align: center;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    h4 {
        font-size: 2.5rem;
        padding-bottom: 4vw;
        font-family: "Kalnia", serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        font-variation-settings: "wdth" 100;
    }
    .card-img {
        img{
            width: 100%;
        }
    }
}
h5 {
    font-size: 3rem;
    color: #B8679D;
    font-family: "Kalnia", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    text-align: center;
}
.photography {
    .photo-01, .photo-02, .photo-03, .photo-04, .photo-05, .photo-06, .photo-07, .photo-08, .photo-09, .photo-10 {
        width: 50%;
    }
    .container {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        padding: 20px;
      }
      
      .column {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
      
      .column img {
        width: 100%;
        height: auto;
        border-radius: 4px;
      }
}

.web {
    .web-container {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .web-column {
        display: flex;
        flex-direction: column;
        gap: 10px; 
      }
      
      .web-column img { 
        border-radius: 8px;
      }
}