@media screen and (max-width: 600px) {
  .card .card-text h4 {
    font-size: 1.7rem;
}
.hero h3 {
  font-size: 2rem;
}
  }

    @media screen and (max-width: 1120px) {
        .main-container {
          flex-direction: column;
        }
        }